h1, h2, h3, h4, h5, h6{
    font-family: 'Raleway', sans-serif;
    color: #2F3A5F;
}
p{
    font-family: 'Poppins', sans-serif;
    color: #4C4C4C;
    line-height: 2;
}
li{
    list-style-type: none;
    color: #4C4C4C;
}

#why-deqree{
    background-image: url(images/what_bg-1.png);
    background-repeat: no-repeat;
    background-position-x: -23%;
    background-position-y: 70%;
    background-size: 30% auto;
}
#our-vision{
    background: transparent;
}

#our-vision .content-part{
    background-image: url(images/blog_bg-1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 105%;
}
.dp{
    width: 20%;
    float: left;
    shape-outside: circle(50%);
    margin: 1.5%;
}
.description-left{
    padding-left: 3%;
    border-right: 1px dotted grey;
}

.description-individual{
    margin-bottom: 10%;
}

.img-fluid{
    max-width: 80% !important;
    height: auto;
}



